/* Aturan umum untuk mobile */
@media only screen and (max-width: 768px) {
  .content h1 {
    font-size: 1.5em; /* Ukuran font yang lebih kecil untuk judul */
  }

  .spotify-link {
    padding-top: 10px; /* Padding yang lebih kecil untuk tombol */
  }

  .back-button {
    right: 10px; /* Jarak dari sisi kiri */
    bottom: 10px; /* Jarak dari bawah */
    padding: 10px 20px; /* Sesuaikan padding */
    font-size: 16px; /* Ukuran teks standar */
  }

  .playlist-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Kolom yang lebih kecil */
  }

  .playlist-card {
    transition: none; /* Menghilangkan animasi zoom untuk menghindari lag */
  }
  .buttons-container {
    flex-direction: column;
    gap: 10px;
  }
}

/* Aturan khusus untuk layar sangat kecil seperti ponsel */
@media only screen and (max-width: 480px) {
  .content {
    padding-top: 5px; /* Padding atas yang lebih kecil */
  }

  .back-button {
    left: 5px; /* Kurangi jarak dari sisi kiri */
    bottom: 5px; /* Kurangi jarak dari bawah */
    padding: 8px 16px; /* Sesuaikan padding untuk ukuran yang lebih kecil */
    font-size: 14px; /* Kecilkan ukuran teks */
  }

  .spotify-link {
    font-size: 0.9em; /* Ukuran font yang lebih kecil untuk tombol */
  }

  .playlist-header {
    font-size: 1em; /* Ukuran font yang lebih kecil untuk judul playlist */
  }

  .playlist-iframe {
    height: 60px; /* Tinggi iframe yang lebih kecil */
  }
}
